:root{
    --bg-0: #474747;
    --bg-1: #535353;
    --bg-2: transparent;
    --text-0: #ffffff;
    --text-1: #f49f4a;
    --text-2: #ff8f1e;
    --borders: #f5f5f5;
    --sidebar: #f5f5f5;
    --sidebar-icons: #f5f5f5;
    --links: #ffac3f;
}


.darkmode {
    background-color: var(--bg-0) !important;
}

.darkmode div, i {
    color: var(--text-0) !important;
}

/* body.darkmode #wrapper ul {
    background-color: var(--bg-1) !important;
} */

body.darkmode #header {
    background-color: var(--bg-1) !important;
    color: var(--text-0) !important;
}


/* Links */
.darkmode a, b { /* not updating */
    color: var(--links) !important;
}






/* Tables */
.darkmode tbody, th, tr {
    color: var(--text-2);
    background-color: var(--bg-2) !important;
}

.darkmode h1, h2, h3 {
    color: var(--text-2) !important;
}

.darkmode ul {

    background-color: var(--bg-2) !important;
}

.darkmode span {
    color: var(--text-2) !important;
}

.darkmode.syllabusAssignment {
    background-color: var(--bg-1) !important;
    color: var(--text-2) !important;
}

.darkmode#left-side {
    color: var(--text-2) !important;
}

  


/* Mobile/shrinked */ 
/* .darkmode #mobile-header {

}

.darkmode #wrapper {
 
} */

/* Top of Page */
/* .darkmode #breadcrumbs {
    background-color: transparent !important;
}

.darkmode #main {

} */

/* Left Side Links */
/* .darkmode #left-side {

}

.darkmode #section-tabs {
    background-color: transparent !important;
} */

/* Right Side */
/* .darkmode #content {
    background-color: transparent !important;
}

.darkmode #right-side-wrapper { 
    background-color: transparent !important;
} */