:root{
    --bg-header: transparent !important;
    --bg-main: #7c7c7c !important;
    --bg-leftside: transparent !important;
    --bg-rightside: transparent !important;
    --text: #f5f5f5 !important;
    --link-visited: #c8896e !important;
    --icon-selected: #6a6a6a !important;
    --link: #ffa17a !important;
    --navbar: #6a4730 !important;
    --icon-nonselected: #ffffff !important;
    --profile-border: #ffffff !important;
}


/* *{


}

html{


}

body{
    

} */

.darkmode{

    color: var(--text);
    background-color: var(--bg);
    
    --ic-brand-primary: var(--icon-selected);
    --ic-brand-global-nav-bgd: var(--navbar);
    --ic-brand-global-nav-ic-icon-svg-fill: var(--icon-nonselected);
    --ic-brand-global-nav-avatar-border: var(--profile-border);
}

/* Mobile/shrinked */ 
.darkmode #mobile-header {

}

.darkmode #wrapper {
    background-color: var(--bg);
}

/* Top of Page */
.darkmode #breadcrumbs {
    background-color: var(--bg-header);
    color: var(--text);
    
}

.darkmode #main {
    background-color: var(--bg-main);

}

/* Left Side Links */
.darkmode #left-side {
    background-color: var(--bg-leftside);

}

.darkmode #section-tabs {
    
}

/* Right Side */
.darkmode #content-wrapper {
    background-color: var(--bg-rightside);
    color: var(--text);

}

.darkmode #right-side-wrapper { /* bottom stuff...? */
    background-color: var(--bg-rightside);
    color: var(--text);
}


/* Links */
.darkmode a:link {
    color: var(--link);
}
.darkmode a:visited {
    color: var(--link-visited);
}
.darkmode a:hover {
    color: var(--link);
}
.darkmode a:active {
    color: var(--link);
}